@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@layer base {
  html {
    font-family: "Marcellus", serif;
  }
}

/* number override (future use) */
@layer utilities {
  .number {
    font-family: "Marcellus", serif;
  }
}

/* DaisyUI config */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:  #c55626;
  --color-secondary: #213943;
  --color-third: #fffaec;
}

body {
  background-color: #fffaec;
  
}


li a.active{
  @apply border border-[#c55626] rounded-2xl text-[#c55626] 
}

 .my-btn {

 @apply bg-[#c55626]  text-white
}
 .my-btn:hover {
 background-color: #c55626de;
 color: #ffffff;
}

@layer components {
  .main-btn {
    @apply px-6 py-3 rounded-full border border-primary text-primary hover:bg-primary hover:text-white transition-all duration-300;
  }

}

 .main-btn2 {
    @apply px-6 py-3 rounded-full bg-primary  text-white  border border-primary hover:bg-transparent  hover:text-primary transition-all duration-300;;
  }

  .swiper-button-next,
.swiper-button-prev {
  color: #f59e0b; /* amber-500 */
}

 



